<html>
<head>
    <meta charset="utf-8">
    <title>Mocha Tests</title>
    <!--index.html relative path-->
    <link rel="stylesheet" href="./bower_components/mocha/mocha.css"/>
    <script src="./bower_components/mocha/mocha.js"></script>
    <script type="text/javascript" src="./bower_components/power-assert/build/power-assert.js"></script>
    <script>mocha.setup('bdd')</script>
</head>
<body>
<div id="mocha"></div>
<script>
{{embed-script}}
</script>
<script>
    mocha.run();
</script>
</body>
</html>